<div class="box container-fluid">
  <div class="box row">
    <div class="form-aria col-sm-6 col-sm-offset-3">
      <h3>ユーザー設定</h3>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

        <div class="field">
          <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "メールアドレス" %>
        </div>

        <div class="field">
          <%= f.text_field :nickname, autofocus: true, class: "form-control", placeholder: "ニックネーム" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="field">
          <em>(パスワードを変更する場合は入力して下さい)</em><br />
          <%= f.password_field :password, autocomplete: "off", class: "form-control", \
            placeholder: "パスワード（#{@minimum_password_length} 文字以上で設定して下さい）" %>
        </div>

        <div class="field">
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "パスワード再入力（確認用）" %>
        </div>

        <div class="field">
          <em>(確認のためパスワードを入力して下さい)</em><br />
          <%= f.password_field :current_password, autocomplete: "off", class: "form-control", placeholder: "現在のパスワード" %>
        </div>

        <div class="actions">
          <%= f.submit "更新", class: "btn btn-success btn-block" %>
        </div>
      <% end %>

      <%= button_to "アカウントを消去する", registration_path(resource_name), data: { confirm: "本当に消去しますか?" }, method: :delete, class: "btn btn-danger btn-block" %></p>
      <%= link_to "戻る", :back %>
    </div>
  </div>
</div>
