<%= form_for(@piece) do |f| %>
  <% @piece.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  <%= f.text_field :title, class: "form-control", placeholder: "曲名" %>
  <br>
  <%= f.text_field :composer, class: "form-control", placeholder: "作曲" %>
  <br>
  <%= f.text_field :arranger, class: "form-control", placeholder: "編曲" %>
  <br>
  <%= f.text_field :publisher, class: "form-control", placeholder: "出版" %>
  <br>
  <%= f.submit "登録する", class: "btn btn-success btn-block" %>
<% end %>

<%= link_to "戻る", pieces_path %>