<!DOCTYPE html>
<html>
<head>
  <title>Wimixer</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <% if user_signed_in? %>
    <header>
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/pieces">
            <%= image_tag 'wimixer_logo.png', :class => "wimixer_label" %>
            </a>
          </div>


        </div>
      </nav>
    </header>
  <% end %>

<%= yield %>

</body>
</html>
